backup_user=backupuser
backup_user_password='E827wJ7SU=-Im5yazO23k0wrs!G{oTBQ'
cdt_path=/
cluster_id=4
cluster_type=postgresql_single
cmon_user=cmon
created_by_job=6
group_owner=1
hostname=cluster-control
logfile=/var/log/cmon_4.log
mode=controller
monitored_mountpoints=/var/lib/pgsql/12/data
mysql_hostname=127.0.0.1
mysql_password='1'
mysql_port=3306
name='test'
os=redhat
owner=5
pidfile=/var/run
postgresql_password='1'
postgresql_server_addresses=10.0.0.11:5432,10.0.0.12:5432,10.0.0.13:5432
postgresql_user=postgres
repl_password='}e!5bp3INDnEEW68zi{49pgf/LV0Ry0V'
repl_user=cmon_replication
rpc_key=h71vcs8g5362j5mi
rpc_version=2.0
server_version=12
ssh_identity=/root/.ssh/id_rsa
ssh_port=22
ssh_user=root
sudo_opts=sudo -n 2>/dev/null
type=postgresql_single
vendor=postgres
